

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 25px 1fr 50px;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Header-Bar {
  grid-area: 1 / 1 / 2 / 3;
  background: #3e2312;
  height: 50px;
  padding-top: 15px;
}

.Branding {
  grid-area: 1 / 1 / 2 / 2;
  background: #fe8104;
  color: #fcecd9;
  text-align: center;
  font-size: 28px;
  height: 50px;
  padding-top: 15px;
}

.Title {
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 15px;
  color: white;
  text-align: center;
  font-size: 28px;
}

.Spacer { grid-area: 2 / 1 / 3 / 3; }

.Menu-Spacer {
  grid-area: 2 / 1 / 3 / 2;
  background: burlywood;
}

.Content-Spacer { grid-area: 2 / 2 / 3 / 3; }

.Menu {
  grid-area: 3 / 1 / 4 / 2;
}

.Menu-Area { grid-area: Menu-Area; }

.Menu-Filler {
  grid-area: Menu-Filler;
  background: burlywood;
  height: 100%;
}

.Content {
  grid-area: 3 / 2 / 4 / 3;
  padding: 0 20px 20px 20px;
}

.Footer {
  grid-area: 4 / 1 / 5 / 3;
  background: #3e2312;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 50px;
  padding-top: 15px;
}
